# Application configuration
READ_PIN=1111
WRITE_PIN=2222

# Execution mode: 'mock' or 'google'
# 'mock' will use local excel files instead of making Google API requests.
EXECUTION_MODE=mock

# Google APIs (Required if EXECUTION_MODE=google)
SPREADSHEET_ID=your_spreadsheet_id_here
DRIVE_ROOT_FOLDER_ID=your_drive_folder_id_here
