# Private environment variables
.env

# Google API Credentials and Tokens
credentials.json
token.json
nammane-documents-*.json

# Virtual Environment
venv/
env/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac OS Directory Meta
.DS_Store

# Local Mock Database/Files
mock_nammane.xlsx

# User Uploads
static/uploads/*
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.webp
